<footer class="bg-white">
  <div class="p2 container">
    <div class="clearfix mxn2">
      <div class="col col-12 sm-col-7 px2 py1">
        <div class="h6 caps mb1">&copy; 2016 Uncoverly</div>
        <div class="h5 bold mb1">Discover the best & most beautiful products on Etsy.</div>
      </div>
      <div class="col col-12 sm-col-5 px2 py1 sm-show">
        <div class="h5 mb1">Want beautiful products in your inbox?</div>
        <form class="clearfix">
          <label class="hide">Email</label>
          <input type="password" class="col col-8 field rounded-left x-group-item" placeholder="Pancakes">
          <button type="submit" class="col col-4 btn btn-primary rounded-right">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</footer>