<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='p2 sm-p3 center'>
          <h2 class="mt0 mb3 regular">Sign up to like and add products.</h3>
          <div class="mb2">
            <a
              href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
              class="btn btn-primary bg-fb block col-12 sm-col-10 mx-auto h5"
            >
              Connect with Facebook
            </a>
            <a
              href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"
              class="mt1 btn btn-primary bg-tw block col-12 sm-col-10 mx-auto h5"
            >
              Connect with Twitter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
