{% load extras %}


{% if is_paginated %}
<div class="pagination py2">
  <div class="inline-block overflow-hidden border rounded">
    {% if page_obj.has_previous %}
    <a href="{% make_url request.path page_obj.previous_page_number query %}" class="left btn border-right">
      &larr; Previous
    </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="{% make_url request.path page_obj.next_page_number query %}" class="right btn">
      Next &rarr;
    </a>
    {% endif %}
    <div class="left btn muted border-right">
      {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </div>
  </div>
</div>
{% endif %}
