<div class="mb3 bg-white border rounded overflow-hidden">
  {% if p.image_main %}
  <div class="img-cntnr ratio-34-27">
    <a href="{% url 'web:product' p.pk %}">
      <img class="block" src="{{ p.image_main }}">
    </a>
  </div>
  {% endif %}
  <div class="clearfix p1">
    <div class="right">
      <a class="block black line-height-1 favorite" href="#" data-id='{{ p.pk }}'>
      {% if p.pk in favorites %}
        <img class='align-middle' src='/static/img/ico/like-yes.svg' width='27' height='27'>
      {% else %}
        <img class='align-middle' src='/static/img/ico/like-no.svg' width='27' height='27'>
      {% endif %}
      </a>
    </div>
    {% if p.price_usd %}
    <span class="green">{{ p.price_display }}</span>
    {% else %}
    <span class="gray">N/A</span>
    {% endif %}
  </div>
</div>