{% extends 'web/base.html' %}
{% block title %}About{% endblock %}


{% block container %}
<h2 class="mb3">About</h2>

<div class="clearfix mxn2 py3">
  <div class="col col-12 sm-col-6 px2">
    <h3 class="m0">The best products on Etsy. Uncovered for you.</h3>
    <p>We think that Etsy is the best place to buy unique & meaningful products, and Uncoverly is the best way to discover them. We show you great things and let Etsy take care of the rest.</p>
  </div>
  <div class="col col-12 sm-col-6 px2">
    <div>TODO</div>
  </div>
</div>

<div class="clearfix mxn2 py3">
  <div class="col-right col-12 sm-col-6 px2">
    <h3 class="m0">Curated with care.</h3>
    <p>Products are handpicked by a community that loves handmade.</p>
  </div>
  <div class="col col-12 sm-col-6 px2">
    <div>TODO</div>
  </div>
</div>

<div class="clearfix mxn2 py3">
  <div class="col col-12 sm-col-6 px2">
    <h3 class="m0">Save and share what you love.</h3>
    <p>You can like products you think are cool, and show off your great taste to friends.</p>
  </div>
  <div class="col col-12 sm-col-6 px2">
    <div>TODO</div>
  </div>
</div>
{% endblock %}
