{% extends 'web/base.html' %}
{% block title %}About{% endblock %}


{% block content %}
<h2>About</h2>

<h3>The best products on Etsy. Uncovered for you.</h3>
<p>We think that Etsy is the best place to buy unique & meaningful products, and Uncoverly is the best way to discover them. We show you great things and let Etsy take care of the rest.</p>

<h3>Curated with care.</h3>
<p>Products are handpicked by a community that loves handmade.</p>

<h3>Save and share what you love.</h3>
<p>You can like products you think are cool, and show off your great taste to friends.</p>
{% endblock %}
