{% extends 'web/base.html' %}
{% block title %}{{ title }}{% endblock %}


{% block container %}
<div class="clearfix">
  <div class="bg-white col-12 sm-col-8 md-col-6 lg-col-5 mx-auto mb3">
    <div class="p3 sm-py4 center">
      <h2 class="mt0 mb3 regular">{{ headline }}</h2>
      <div class="mb2">
        <a
          href="{% url 'social:begin' 'facebook' %}"
          class="btn btn-primary bg-fb block col-12 sm-col-10 mx-auto h5"
        >
          {{ btn_verb }} with Facebook
        </a>
        <a
          href="{% url 'social:begin' 'twitter' %}"
          class="mt1 btn btn-primary bg-tw block col-12 sm-col-10 mx-auto h5"
        >
          {{ btn_verb }} with Twitter
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
