{% extends 'web/base.html' %}
{% block title %}Best {{ category.display }} on Etsy :: Uncoverly{% endblock %}

{% block container %}
{% include 'web/_includes/browse-links.html' with active='category' %}

<div class='mb3 p2 bg-darken-1 rounded center'>
  <h3 class='m0'>{{ category.display }}</h3>
</div>

<div class='flex flex-wrap mxn2'>
  {% for product in products %}
  <div class='col-6 sm-col-4 border-box px2'>
    {% include 'web/_includes/product-card.html' with p=product %}
  </div>
  {% endfor %}
</div>

{% include 'web/_includes/pagination.html' %}
{% endblock %}
