{% extends 'web/base.html' %}

{% block content %}
{% include 'web/_includes/user-banner.html' %}
<div class='container px2 py3'>
  <div class='clearfix mxn1 mb1'>
    <div class='sm-col'>
      <a href='{% url "web:faves" owner.pk %}' class='btn p1 bold'>Favorites</a>
      <span>&middot;</span>
      <a href='{% url "web:finds" owner.pk %}' class='btn p1 regular'>Finds</a>
    </div>
  </div>
  {% if faves|length %}
    <div class='flex flex-wrap mxn2'>
    {% for f in faves %}
      {% with p=f.product %}
        <div class='col-6 sm-col-4 border-box px2'>
          {% include 'web/_includes/product-card.html' with p=p %}
        </div>
      {% endwith %}
    {% endfor %}
    </div>
  {% else %}
    <div class='p2 bg-darken-1 rounded'>
      😳 {{ owner.username }} doesn't have any yet
    </div>
  {% endif %}
  {% include 'web/_includes/pagination.html' %}
</div>
{% endblock %}
