{% extends 'web/base.html' %}


{% block container %}
<div class="clearfix">
  <div class="col-12 sm-col-8 md-col-6 mx-auto">
    <h2 class="h1">Add your favorite products</h2>
    <div class="h4 mb2">
      If you find something you love on Etsy and it's not on Uncoverly, let us know! If it's awesome, we'll add it and give you the credit.
    </div>
    <div id="content"></div>
  </div>
</div>
{% endblock %}


{% block footerjs %}
<script src="/static/build/add-product.js"></script>
{% endblock %}
