{% extends 'web/base.html' %}


{% block content %}
{% if request.user.is_authenticated %}
<div>{{ request.user }} <a href="{% url 'web:logout' %}">Logout</a></div>
{% else %}
<div>
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a><br>
    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
</div>
{% endif %}

<div class="flex flex-wrap mxn2">
    {% for p in products %}
    <div class="col-6 sm-col-4 md-col-3 border-box p2">
      <div class="p2 border">
        {% if p.image_main %}<img src="{{ p.image_main }}">{% endif %}
        <div class="mt2 one-line">{{ p.title }}</div>
        <a class="favorite black" href="#" data-id='{{ p.pk }}'>
        {% if p.pk in favorites %}
          <i class="icon ion-ios-heart"></i>
        {% else %}
          <i class="icon ion-ios-heart-outline"></i>
        {% endif %}
        </a>
      </div>
    </div>
    {% endfor %}
</div>

{% include 'web/_includes/pagination.html' %}
{% include 'web/_includes/modal.html' %}
{% endblock %}


{% block footerjs %}
<script src="/static/build/app.js"></script>
{% endblock %}
