{% extends 'web/base.html' %}

{% block content %}
<div class='px2 py1 container h5 bg-orange white rounded-bottom'>
  Uncoverly is a curated collection of the most beautiful goods and shops on Etsy.
</div>

<div class='container px2 py3'>
  {% include 'web/_includes/browse-links.html' with active='home' %}
  <div class='flex flex-wrap mxn2'>
    {% for product in products %}
    <div class='col-6 sm-col-4 border-box px2'>
      {% include 'web/_includes/product-card.html' with p=product %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
