{% extends 'web/base.html' %}
{% block title %}Privacy{% endblock %}


{% block container %}
<div class="clearfix">
  <div class="bg-white col-12 sm-col-8 mx-auto mb3">
    <div class="p2 md-px4 md-py3">
      <h2 class="mt2 mb3 center h4 caps">Privacy Policy</h2>

      <p>
        Uncoverly provides this Privacy Policy to inform you of our policies and procedures for the collection, use and disclosure of personal information we receive from users of Uncoverly.com (this "Site"). This Privacy Policy only applies to information you provide to us through the Site.
      </p>

      <p>
        This Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your consent. We will post all privacy policy changes on this page (uncoverly.com/privacy). If changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).
      </p>

      <p>
        We will create your Account based upon the Personal Information you provide, and you will become a Member of Uncoverly. Your Personal Information will be used to provide our service. Uncoverly collects and stores all information provided by its visitors and members. This includes, but is not limited to: registration information, referral pages, and traffic data. We will not log your information or behavior on other third party applications unrelated to Uncoverly.
      </p>

      <p>
        All Members may review, update, correct or delete Personal Information in their Account upon request sent directly to hello@uncoverly.com. We may retain an archived copy of your records as required by law or for legitimate business purposes.
      </p>

      <p>
        We will not share your personal information with any third parties for direct marketing purposes. We will only disclose personal information to third parties if we are required to by applicable laws, regulations, or legal and regulatory processes, or if there is a sale, merger, transfer, or exchange of control of Uncoverly to another company.
      </p>

      <p>
        We may share consolidated non-personally-identifiable data that does not include Personal Information and we may otherwise disclose Log Data with third parties for industry analysis, demographic profiling and other purposes. Any aggregated information shared in these contexts will not contain your specific Personal Information.
      </p>

      <p>
        By request, individuals may review their Personal Information or logged site behavior contained in Uncoverly files by contacting Uncoverly. All requests for this data will be provided within a 30 day period. If an individual believes any of their personal information is inaccurate, we will make appropriate corrections.
      </p>

      <p>
        Our Site contains links to Etsy. If you choose to purchase a product by "clicking on" a product on Uncoverly you will be directed to Etsy's website. We do not take responsibility for cookies or other files that could be placed on your computer by Etsy. We encourage you to read Etsy's privacy policy if you have concerns with their behavior.
      </p>

      <p>
        When you register as a member of Uncoverly, you are agreeing to receive emails and in-system notices for announcements, newsletters, recommendations and policy updates. If you would like to opt out of our emails, please contact us at hello@uncoverly.com.
      </p>

      <p>
        Uncoverly reserves the right to delete your account without notice, for legitimate business reasons. In the unlikely event that this occurs, we will provide an email notification with further details.
      </p>

      <p>
        If you would like your public profile and membership with Uncoverly terminated, you can do so upon request sent directly to hello@uncoverly.com.
      </p>

      <p>
        Non members (the "Public") and members of Uncoverly will be able to view your public profile, including: your first name, your profile picture, your liked products, and your submitted products.
      </p>

      <p>
        If you have any questions about this Policy or any of the context described, please send us an email at hello@uncoverly.com.
      </p>
    </div>
  </div>
</div>
{% endblock %}
