{% extends 'web/base.html' %}


{% block content %}
<div>{{ product.title }}</div>
<img src="{{ product.image_main }}">
<div>
    <a target="_blank" href="https://twitter.com/intent/tweet?text=foo&amp;hashtags=uncoverly" class="btn btn-outline">Twitter</a>
    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://www.uncoverly.com/p/186372207" class="btn btn-outline">Facebook</a>
</div>
{% endblock %}


{% block footerjs %}
{% include 'web/_includes/social-js.html' %}
{% endblock %}
