.m05 { margin: $space-tiny; }
.mt05 { margin-top: $space-tiny; }
.mr05 { margin-right: $space-tiny; }
.mb05 { margin-bottom: $space-tiny; }
.ml05 { margin-left: $space-tiny; }
.mx05 { margin-left: $space-tiny; margin-right: $space-tiny; }
.my05 { margin-bottom: $space-tiny; margin-top: $space-tiny; }
.mxn05 { margin-left: -$space-tiny; margin-right: -$space-tiny; }
.p05 { padding: $space-tiny; }
.pt05 { padding-top: $space-tiny; }
.pr05 { padding-right: $space-tiny; }
.pb05 { padding-bottom: $space-tiny; }
.pl05 { padding-left: $space-tiny; }
.px05 { padding-left: $space-tiny; padding-right: $space-tiny; }
.py05 { padding-bottom: $space-tiny; padding-top: $space-tiny; }
