html { font-size: $base-font-size; }

@media screen and (min-width: $viewport-small) {
  html { font-size: 16px; }
}

@media screen and (min-width: $viewport-medium) {
  html { font-size: 18px; }
}

@media screen and (min-width: $viewport-large) {
  html { font-size: 20px; }
}

@media #{$breakpoint-sm} {
  .sm-h2 { font-size: $h2; }
  .sm-center { text-align: center; }
}
